@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

*{
  font-family: 'Metal Mania', cursive;
}


ion-content {
  --background: none;
  background-image: url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.fondito {

  background-color: rgba(78, 80, 109, 0.78);
}

.col-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    position: relative;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.master-container {
    text-align: center;
    margin-bottom: 20px;
}

.master-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.master-img, .volver-img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.line {
    position: absolute;
    right: 0;
    width: 6.5px;
}

.volver-img {
    margin-top: 180px;
}

.attributes-container {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.attributes-container .attribute-row {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.attributes-container .attribute-row:last-child {
    border-bottom: none;
}

.attributes-container .attribute-label {
    width: 20%;
    background-color: #4a4a8a;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.attributes-container .attribute-controls {
    width: 80%;
    display: flex;
    align-items: center;
}

.attributes-container .control {
    display: flex;
    align-items: center;
    width: 20%;
}

.attributes-container .btn-atribute {
    margin: 0 5px;
    --background: #4a4a8a;
    color: #ffffff;
    --border-radius: 50%;
    --padding-start: 0;
    --padding-end: 0;
}

.attributes-container input {
    width: 50px;
    text-align: center;
    border: none;
    background: #ffffff;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
}

.attributes-container ion-range {
    width: 80%;
    margin: 0 10px;
}



/*    Lista de amigos     */

.friends-list-container {
  padding: 5px;
  background-color: #4a4a8a;
  border: groove 5px;
  color: #ffffff; 
}

.title-list-friend {
  text-align: center;
  
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}
ion-list {
  max-height: 100px;
  overflow-y: auto;
  padding: 0px;
  background: none;

}


.friend-item {
  
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  --padding: 0;
  --padding-start: 0px; 
  --inner-padding-end:0px;
  padding: 0;
  --background: #D9D9D9;
  color: #000;
}

.profile,
.friend-info,
.actions {
  display: flex;
  align-items: center;
}
.btn-list-friend {
  --padding-start: 0;
  --padding-end: 0;
  margin: 0;
  font-size: 15px;
  
}

/* 


.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 50%;
  border-radius: 50%;
  border: 2px solid #000;
}


.friend-level {
  color: #555555;
}





.icon-list-friend {
  font-size: 1.2em;
} */