<ion-content [fullscreen]="true">
  <ion-grid class="fondito">
    <ion-row>
      <ion-col size="2" class="col-left">
        <img src="assets/Line 18.png" alt="" class="line">
        <div class="center-content left-section">
          <div class="master-container">
            <img src="assets/Group 4.png" alt="Master Icon" class="master-icon">
            <img src="assets/botonmastersala.png" alt="Master Sala" class="master-img">
          </div>
          <a routerLink="/elige-rol">
            <img src="assets/Volver.png" alt="Volver" class="volver-img">
          </a>
        </div>
      </ion-col>

      <ion-col size="10" class="col-right">
        <ion-grid style="height: 100%;">
          <ion-row style="height: 50%;">
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col>
              <div class="friends-list-container">
                <!-- Título Fijo -->
                <div class="title-container">
                  <h3 class="title-list-friend">Lista de Amigos</h3>
                </div>
                
                <!-- Lista Desplazable -->
                <ion-list class="friends-list">
                  <ion-item *ngFor="let friend of friends" lines="none" class="friend-item">
                    <ion-grid>
                      <ion-row>
                        <!-- Imagen de perfil fuera de la tarjeta -->
                        <ion-col size="3" class="profile">
                          <img src="assets/personajes/image.webp" alt="Friend Icon" />
                        </ion-col>

                        <!-- Contenedor de la tarjeta de amigo -->
                        <ion-col size="7">
                            <div class="friend-card">
                            <!-- Información del amigo -->
                            <div class="friend-info">
                              <p class="friend-name">{{ friend.name }}</p>
                              <p class="friend-level">Nivel {{ friend.level }}</p>
                            </div>

                            <!-- Botones de acción -->
                            <div class="actions">
                              <ion-button fill="clear" color="success" (click)="sendMessage(friend)" class="btn-list-friend">
                                <ion-icon name="mail-outline" class="icon-list-friend"></ion-icon>
                              </ion-button>
                              <ion-button fill="clear" color="danger" (click)="removeFriend(friend)" class="btn-list-friend">
                                <ion-icon name="trash-outline" class="icon-list-friend"></ion-icon>
                              </ion-button>
                            </div>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-list>
              </div>
            </ion-col>
          </ion-row>

          <ion-row style="height: 50%;">
            <ion-col>
              <!-- Sección de Atributos (comentadaaa) -->
            </ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>