<ion-content [fullscreen]="true">
  <ion-grid class="fondito">
    <ion-row>
      <!-- Columna Izquierda -->
      <ion-col size="2" class="col-left">
        <img src="assets/Line 18.png" alt="" class="line">
        <div class="center-content left-section">
          <div class="master-container">
            <img src="assets/Group 4.png" alt="Master Icon" class="master-icon">
            <img src="assets/botonmastersala.png" alt="Master Sala" class="master-img">
          </div>
          <a routerLink="/elige-rol">
            <img src="assets/Volver.png" alt="Volver" class="volver-img">
          </a>
        </div>
      </ion-col>

      <!-- Contenedor del árbol -->
      <ion-col size="10" class="tree-container">
        <!-- Nodo Principal -->
        <div class="root-node">
          <ion-icon name="person-circle-outline" class="root-icon"></ion-icon>
        </div>

        <!-- Ramas y Atributos -->
        <div class="branches">
<!-- Nodo: Fuerza -->
<div class="attribute-branch">
  <div class="attribute-node">Fuerza</div>
  <div class="sub-nodes">
    <div class="sub-node">
      <img src="assets/iconofuerza.png" alt="Fuerza Icono" class="custom-icon"> 
      <div class="sub-node-value">0</div>
    </div>
    <div class="sub-node">
      <img src="assets/iconofuerza2.png" alt="Fuerza Icono" class="custom-icon">
      <div class="sub-node-value">0</div>     
    </div>
  </div>
</div>

          <!-- Nodo: Destreza -->
          <div class="attribute-branch">
            <div class="attribute-node">Destreza</div>
            <div class="sub-nodes">
              <div class="sub-node">
                <img src="assets/iconodestreza.png" alt="Fuerza Icono" class="custom-icon">  
                <div class="sub-node-value">0</div>

              </div>
              <div class="sub-node">
                <img src="assets/iconodestreza2.png" alt="Fuerza Icono" class="custom-icon"> 
                <div class="sub-node-value">0</div>
              </div>
            </div>
          </div>

          <!-- Nodo: Constructor -->
          <div class="attribute-branch">
            <div class="attribute-node">Constructor</div>
            <div class="sub-nodes">
              <div class="sub-node">
                <img src="assets/iconconstructor.png" alt="Fuerza Icono" class="custom-icon">  
                <div class="sub-node-value">0</div>

              </div>
              <div class="sub-node">
                <img src="assets/iconconstructor2.png" alt="Fuerza Icono" class="custom-icon"> 
                <div class="sub-node-value">0</div>
              </div>
            </div>
          </div>

          <!-- Nodo: Inteligencia -->
          <div class="attribute-branch">
            <div class="attribute-node">Inteligencia</div>
            <div class="sub-nodes">
              <div class="sub-node">
                <img src="assets/iinteligencia.png" alt="Fuerza Icono" class="custom-icon">  
                <div class="sub-node-value">0</div>
              </div>
              <div class="sub-node">
                <img src="assets/iinteligencia2.png" alt="Fuerza Icono" class="custom-icon">  
                <div class="sub-node-value">0</div>

              </div>
            </div>
          </div>

          <!-- Nodo: Sabiduría -->
          <div class="attribute-branch">
            <div class="attribute-node">Sabiduría</div>
            <div class="sub-nodes">
              <div class="sub-node">
                <img src="assets/isabiduria.png" alt="Fuerza Icono" class="custom-icon"> 
                <div class="sub-node-value">0</div>
              </div>
              <div class="sub-node">
                <img src="assets/isabiduria2.png" alt="Fuerza Icono" class="custom-icon"> 
                <div class="sub-node-value">0</div>
              </div>
            </div>
          </div>

          <!-- Nodo: Apariencia -->
          <div class="attribute-branch">
            <div class="attribute-node">Apariencia</div>
            <div class="sub-nodes">
              <div class="sub-node">
                <img src="assets/iapariencia.png" alt="Fuerza Icono" class="custom-icon">  <!-- Usando imagen personalizada -->
                <div class="sub-node-value">0</div>
              </div>
              <div class="sub-node">
                <img src="assets/iapariencia2.png" alt="Fuerza Icono" class="custom-icon">  <!-- Usando imagen personalizada -->
                <div class="sub-node-value">0</div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
