.attributes-container {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
  
    .attribute-row {
      display: flex;
      align-items: center;
      padding: 5px 0;
      border-bottom: 1px solid #ccc;
  
      &:last-child {
        border-bottom: none;
      }
  
      .attribute-label {
        width: 20%;
        background-color: #4a4a8a;
        color: #ffffff;
        font-weight: bold;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
      }
  
      .attribute-controls {
        width: 80%;
        display: flex;
        align-items: center;
  
        .control {
          display: flex;
          align-items: center;
          width: 20%;
  
          ion-button {
            margin: 0 5px;
            --background: #4a4a8a;
            color: #ffffff;
            --border-radius: 50%;
            --padding-start: 0;
            --padding-end: 0;
          }
  
          input {
            width: 50px;
            text-align: center;
            border: none;
            background: #ffffff;
            color: #000;
            font-weight: bold;
            border-radius: 5px;
            margin: 0 5px;
          }
        }
  
        ion-range {
          width: 80%;
          margin: 0 10px;
        }
      }
    }
  }
  