<ion-content class="custom-content" [fullscreen]="true">
  <div class="password-reset-container">
    <!-- Contenedor para el logo de la calavera y el texto "Cuenta" -->
    <div class="logo-header">
      <img src="/assets/logoramdom.png" alt="Logo Calavera" class="logo-image" />
      <span class="account-text">Cuenta</span>
    </div>
    <h2>Restablecer la <br> Contraseña</h2>

    <!-- Formulario para cambiar la contraseña -->
    <form (ngSubmit)="updatePassword()" class="reset-form">
      <div class="input-group">
        <input 
          type="password" 
          placeholder="Nueva contraseña" 
          [(ngModel)]="newPassword" 
          name="newPassword" 
          required 
          minlength="8" 
        />
      </div>
      <p>8 caracteres como mínimo, distingue mayúsculas de minúsculas</p>

      <div class="input-group">
        <input 
          type="password" 
          placeholder="Vuelve a escribir la contraseña" 
          [(ngModel)]="confirmPassword" 
          name="confirmPassword" 
          required 
        />
      </div>

      <div class="button-group">
        <button type="button" class="cancel-button" (click)="cancel()">Cancelar</button>
        <button type="submit" class="next-button">Siguiente</button>
      </div>
    </form>

    <div class="game-title">
      <img src="/assets/Titulo_Juego1.png" alt="Título del Juego">
    </div>
  </div>
</ion-content>
