<ion-content fullscreen>
  <div class="main-container">
    <div class="overlay"></div>

    <!-- Sección Izquierda (Master y Volver) -->
    <div class="left-section">
      <div class="master-container">
        <img src="assets/Group 4.png" alt="Master Icon" class="master-icon">
        <img src="assets/botonmastersala.png" alt="Master Sala" class="master-img">
      </div>
      <a routerLink="/elige-rol">
        <img src="assets/Volver.png" alt="Volver" class="volver-img">
      </a>
    </div>

    <!-- Sección Central (Salas Disponibles) -->
    <div class="center-section">
      <h2>Salas Disponibles</h2>
      <div class="room" *ngFor="let room of rooms">
        <div class="room-details">
          <p>{{ room.name }}</p>
          <p>Id: {{ room.id }}</p>          
        </div>
      </div>

      <div class="button-container">
        <ion-button expand="block" class="crear-sala-btn" (click)="createRoom()">Crear Sala</ion-button>
        <ion-button expand="block" class="eliminar-sala-btn" (click)="deleteRoom()">Eliminar Sala</ion-button>
      </div>
    </div>

    <!-- Sección Derecha (Jugadores en Línea) -->
    <div class="right-section">
      <h2>Jugadores en Línea</h2>
      <div class="players-grid">
        <div class="player" *ngFor="let player of players">
          <img src="assets/profile-photo.png" alt="Player Icon" class="player-icon">
          <p>{{ player.id + ". "+ player.name }} </p>
          <button></button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
