@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
*{
    font-family: 'Metal Mania', cursive; /* Fuente Metal Mania */
}

.main-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 10px;
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye los botones: Master arriba y Volver abajo */
    align-items: center;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
  }
  
  .master-button {
    margin-top: 20px; /* Añade un margen superior para separar el botón "Master" del borde superior */
    text-align: center;
  }
  
  ion-button {
    width: 100%; /* Asegura que los botones ocupen el ancho completo */
  }
  
  .center-section {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .center-section h2 {
    
    color: #ffcc00;
    margin-bottom: 20px;
  }
  
  .room {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .room-details {
    color: black;
  }
  
  .right-section {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .right-section h2 {
    font-family: 'MedievalSharp', cursive;
    color: #ffcc00;
    margin-bottom: 20px;
  }
  
  .player {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .player img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  