@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
  font-family: 'Metal Mania', cursive;
}

/* General */
.main-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  background-image: url('/assets/fondo.png');
  background-size: cover;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/cuadrofondosalas.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 1;
}

/* Left Section - Master and Back Button */
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 12%;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.master-container {
  text-align: center;
  margin-bottom: 20px;
}

.master-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.master-img, .volver-img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Center Section - Rooms */
.center-section {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 37%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url("/assets/cuadro.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 1;
}

.center-section h2 {
  color: #ffcc00;
  margin-bottom: 20px;
  font-size: 24px;
}

.room {
  width: 90%;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  margin: 3px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  height: 22vh; /* Aumenta el valor de la altura */
}

.room {
  margin-top: -10px;  /* Ajusta el valor según sea necesario */
}
.room:nth-of-type(2) {
  margin-top: 5px;  /* Ajusta este valor según sea necesario */
}

.room-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.room-details p {
  margin: 0;
  font-size: 1rem;
  color: #000000;
}
.room-details p:nth-child(1) {
  margin-top: -50px; /* Ajusta este valor según sea necesario */
}
.room-details p:nth-child(2) {
  margin-top: -50px; /* Ajusta este valor según sea necesario */
}
.room-details::after {
  content: '';
  position: absolute;
  bottom: 5px; /* Ajusta el valor de bottom para subir la línea */
  left: 0;
  right: 0;
  height: 10px; /* Ajusta el tamaño según lo necesites */
  background-image: url('/assets/lineaaa.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* Button Container - Create and Delete Room Buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px; /* Ajusta este valor a un número negativo para mover los botones hacia arriba */
}


.crear-sala-btn, .eliminar-sala-btn {
  flex: 1;
  padding: 5px 8px; /* Reduce el tamaño del padding */
  font-size: 12px; /* Ajusta el tamaño de la fuente para que sea más pequeño */
  border-radius: 4px; /* Reduce el radio del borde para hacerlo más compacto */
  box-shadow: none;
}

.crear-sala-btn {
  --background: #ffffff !important;
  color: #000000 !important;
}

.eliminar-sala-btn {
  --background: #ef4848 !important;
  color: #ffffff !important;
}

/* Right Section - Online Players */
.right-section {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  width: 37%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url("/assets/cuadro.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  z-index: 1;
}

.right-section h2 {
  color: #ffcc00;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* Players Grid */
.players-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  width: 85%;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  color: #170000;
}

.player-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
