@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

ion-content {
  --background: none; /* Elimina cualquier color de fondo predeterminado */
  background-image: url('/assets/fondo.png'); /* Imagen de fondo */
  background-size: 100% 100%; /* Asegura que la imagen se ajuste completamente al contenedor */
  background-position: center; /* Centra la imagen en la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantiene la imagen fija mientras haces scroll */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px; /* Añadir espacio inferior */
}

/* Contenedor principal del login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding: 20px;
  background-image: url('/assets/Decoracion.png'); /* Fondo dentro del contenedor */
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
  margin: auto;
}

/* Imagen del título del juego */
.game-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -120px;
}

.game-title img {
  
  height: auto;
  width: 150px; /* Ajuste del tamaño de la imagen */
}

/* Estilos para los campos de entrada */
.input-group {
  display: flex;
  align-items: center;
  background-color: #e7e7d7;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 400px;
  border: 2px solid black; /* Bordes negros */
  box-shadow: 0px 5px 15px rgb(0, 0, 0);
}

/* Iconos dentro de los campos */
.input-icon img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Estilos para los inputs */
input[type="text"], input[type="password"] {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  width: 100%;
  color: #333;
  font-family: 'Metal Mania', cursive;
}

/* Estilo del botón de login */
.login-button {
  background-color: #e7e7d7;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid black; /* Bordes negros */
  padding: 15px 50px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Metal Mania', cursive; /* Fuente Metal Mania */
}

.login-button:hover {
  background-color: #443e3ea2;
  color: #fff;
  font-weight: normal;
}

.login-button:active {
  background-color: #313431;
}

/* Enlaces en la parte inferior */
.bottom-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 400px;
  margin-top: 20px;
}

/* Estilos de los botones de Olvidaste tu contraseña y Registrar */
.link {
  background-color: #e7e7d7;
  color: #333;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid black; /* Bordes negros */
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Metal Mania', cursive;
}

.link:hover {
  background-color: #171414a2;
  color: #fff;
}
