.custom-buttom{
    --background: #f30000;          /* Fondo normal */
    --background-hover: #00ecfd;    /* Fondo al hacer hover */
    --background-activated: #2bff00; /* Fondo al estar activo */
    --color: white;                 /* Color del texto */
  }