@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.back-btn{
  position: absolute;
  padding: 20px;
  background: none;
}

ion-content {
  --background: none; /* Elimina cualquier color de fondo predeterminado */
  background-image: url('/assets/Inicio de Sesion 1 (1).png'); /* Imagen de fondo */
  background-size: 100% 100%; /* Asegura que la imagen se ajuste completamente al contenedor */
  background-position: center; /* Centra la imagen en la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantiene la imagen fija mientras haces scroll */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px; /* Añadir espacio inferior */


ion-content.custom-content {
  --background: none;
  background-image: url('/assets/Inicio de Sesion 1 (1).png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}


.login-container {
  display: flex;
  background-image: url('/assets/Decoracion.png');
  background-position: center;
  background-size: 55% 90%;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 70px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #00000018;
  background-color: #F6FBDB; 
  border-radius: 25px;
  padding: 10px 20px;
  width: 40%;
  border: 3px solid #000000; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.input-icon {
  margin-right: 10px;
}

.input-icon img {
  width: 30px;
  height: 30px;
}

input {
  border: none;
  outline: none;
  background: none;
  font-family: 'Metal Mania', cursive;
  font-size: 20px;
  color: #000000; 
  flex-grow: 1;
  text-align: center;
}

.login-button {
  
  
  color: #5C5C5C;
  //border: 3px solid #000000;
  border-radius: 35px;
  padding: 2%;
  font-family: 'Metal Mania', cursive;
  font-size: 18px;
  cursor: pointer;
  width: 20%;
  margin: 1% 0 3% 0;
  text-align: center;
  //box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  background: none;
  //background-color: #F6FBDB;
  background-image: url('/assets/background-btns.png');
  background-size: 80% 80%;
  background-position:center;
  background-repeat: no-repeat;
}

.login-button:hover {
  //background-color: #5C5C5C;
  color: white; 
}

.bottom-links {
  display: flex;
  justify-content:space-between;
  width: 40%;

}

.link {
  color: #000000;
  text-decoration: none;
  font-family: 'Metal Mania', cursive;
  font-size: 14px;
  background-color: #F6FBDB; 
  padding: 2px 15px;
  border-radius: 15px; 
  border: 2px solid #000000; 
  transition: background-color 0.3s ease; 
}
@keyframes slide {
  0% {
    transform: translateX(0px); /* Inicia a la derecha */
  }
  100% {
    transform: translateX(-10px); /* Termina a la izquierda */
  }
}

.game-title {
  position: absolute;
  bottom: -15px;
  width: 100%;
  text-align: center;
  animation: slide 2s ease-in-out infinite alternate; 
}
}

.game-title img {
  width: 120px;
  height: 73px;
}