<ion-content class="custom-content" [fullscreen]="true">
  <button class="back-btn" routerLink="/inicio">
    <ion-icon name="arrow-back-circle-outline" color="ligth" size="large"></ion-icon>
  </button>
  <div class="login-container">
    <form (ngSubmit)="login()" style="display: contents;">
      <div class="input-group">
        <div class="input-icon">
          <img src="/assets/image 7.png" alt="User Icon">
        </div>
        <input type="text" [(ngModel)]="credentials.email" name="email" placeholder="Usuario" required />
      </div>

      <div class="input-group">
        <div class="input-icon">
          <img src="/assets/image 6.png" alt="Password Icon">
        </div>
        <input type="password" [(ngModel)]="credentials.phone" name="phone" placeholder="Contraseña" required />
      </div>

      <button type="submit" class="login-button">Iniciar Sesión</button>
    </form>

    <div class="bottom-links">
      <a routerLink="/reestablecer" class="link">¿Olvidaste tu contraseña?</a>
      <a routerLink="/registro" class="link">Registra una cuenta</a>
    </div>
  </div>

  <div class="game-title">
    <img src="/assets/Titulo_Juego1.png" alt="Título del Juego">
  </div>
</ion-content>
