<ion-content class="custom-content" [fullscreen]="true">
  <button class="back-btn" routerLink="/inicio">
    <ion-icon name="arrow-back-circle-outline" color="light"  size="large"></ion-icon>
  </button>
  <div class="login-container">
    <div class="input-group">
      <div class="input-icon">
        <img src="/assets/image 7.png" alt="User Icon">
      </div>
      <input type="text" placeholder="Usuario">
    </div>

    <div class="input-group">
      <div class="input-icon">
        <img src="/assets/image 6.png" alt="Password Icon">
      </div>
      <input type="password" placeholder="Contraseña">
    </div>

    <button class="login-button" routerLink="/elige-rol">Iniciar Sesión</button>

    <div class="bottom-links">
      <a href="#" class="link">¿Olvidaste tu contraseña?</a>
      <a href="#" class="link">Registra una cuenta</a>
    </div>
  </div>

  <!-- Imagen del título del juego en la parte inferior -->
  <div class="game-title">
    <img src="/assets/Titulo_Juego1.png" alt="Título del Juego">
  </div>
</ion-content>
