.background-container {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn{
  position: absolute;
  padding: 20px;
  background: none;
}


.role-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.role-card {
  text-align: center;
  background-image: url('/assets/personajes/contenedorBtnInicio.png');
  background-size: cover;
  background-position: center;
  color: white;
  border: 2px solid #5a5a5a;
  width: 180px;
  height: 250px;
}

.role-card img {
  width: 120px;
  height: 120px;
}

ion-card-title {
  font-family: 'MedievalSharp', cursive;
  font-size: 1.5rem;
  color: #ffcc00;
  margin-top: 10px;
}
