.background-container {
  background-image: url('/assets/Inicio de Sesion 1 (1).png');
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.role-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}
.role-card {
  text-align: center;
  background-image: url('/assets/personajes/contenedorBtnInicio.png'); /* Añadir imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir toda la tarjeta */
  background-position: center; /* Centrar la imagen */
  color: white;
  border: 2px solid #ffcc00;
  width: 180px;
  height: 250px;
}


.role-card img {
  width: 120px; /* Aumentamos el tamaño de las imágenes */
  height: 120px;
}

ion-card-title {
  font-family: 'MedievalSharp', cursive;
  font-size: 1.5rem;
  color: #ffcc00;
  margin-top: 10px;
}
