<ion-content fullscreen>
  <button class="back-btn" routerLink="/inicio">
    <ion-icon name="arrow-back-circle-outline"  color="light"  size="large"></ion-icon>
  </button>
  <div class="background-container">
    <div class="role-selection">
      <ion-card class="role-card" (click)="selectRole('master')">
        <img src="assets/personajes/master-Photoroom 1.png" alt="Master Icon">
i        <ion-card-header>
          <img src="assets/BotonMaster.png" alt="Botón Master" class="button-image">
        </ion-card-header>
      </ion-card>
      
      <ion-card class="role-card" (click)="selectRole('jugador')">
        <img src="assets/personajes/jugador-Photoroom 1.png" alt="Jugador Icon">
        <ion-card-header>
          <img src="assets//BotonJugador.png" alt="Botón Jugador" class="button-image">
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
