<ion-content fullscreen>
  <div class="background-container">
    <div class="role-selection">
      <ion-card class="role-card" (click)="selectRole('master')">
        <img src="assets/personajes/jugador-Photoroom 1.png" alt="Master Icon">
        <ion-card-header>
          <ion-card-title>Master</ion-card-title>
        </ion-card-header>
      </ion-card>
      
      <ion-card class="role-card" (click)="selectRole('jugador')">
        <img src="assets/personajes/jugador-Photoroom 1.png" alt="Jugador Icon">
        <ion-card-header>
          <ion-card-title>Jugador</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
