
.background-container {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7; /* Ajusta el valor entre 0 y 1 */

  
}

.role-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.role-card {
  text-align: center;
  background-image: url('/assets/rolcuadro.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #5a5a5a;
  width: 180px; /* Mantén el ancho original de la card */
  height: 250px; /* Mantén la altura original de la card */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para el ícono de "Master" */
.role-card img[alt="Master Icon"] {
  width: 150px; /* Tamaño aumentado solo para el ícono */
  height: auto;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  margin-bottom: 10px; /* Espacio para separar el ícono del botón */
  filter: brightness(0.3) drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));

}

/* Estilos para el ícono de "Jugador" */
.role-card img[alt="Jugador Icon"] {
  width: 150px; /* Tamaño aumentado solo para el ícono */
  height: auto;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
  margin-bottom: 10px; /* Espacio para separar el ícono del botón */
  filter: brightness(0.3) drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));



}

/* Estilos para los botones de "Master" y "Jugador" */
.button-image {
  width: 120px; /* Tamaño del botón de selección */
  height: 35px;
  margin-top: -8px; /* Ajusta la posición para que suba un poco */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); /* Sombra para que parezca elevado */
}


/* Opcional: Estilo en hover para el ícono */
.role-card img[alt="Master Icon"]:hover,
.role-card img[alt="Jugador Icon"]:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
  filter: brightness(1.2); /* Aumenta el brillo al pasar el mouse */
  cursor: pointer; /* Cambia el cursor a una mano */
}
