<ion-content fullscreen class="custom-content">
  <ion-grid>
    <!-- Contenedor del menú -->
    <ion-row class="ion-justify-content-center ion-align-items-center menu-container">
      <ion-col size="12" class="ion-text-center">
        <!-- Imagen animada -->
        <div class="animated-image">
          <img src="assets/Titulo_Juego1.png" class="background-image" />
        </div>
      </ion-col>
    </ion-row>

    <!-- Botones del menú -->
    <ion-row class="ion-justify-content-center ion-align-items-center menu-buttons">
      <ion-col size="12" class="ion-text-center">
        <ion-button routerLink="/login" expand="block" class="play-button"></ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button routerLink="/registro" expand="block" class="register-button"></ion-button>
      </ion-col>
    </ion-row>

    <!-- Iconos sociales -->
    <ion-row class="ion-justify-content-center ion-align-items-center social-icons">
      <ion-col size="auto">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-col>
      <ion-col size="auto">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-col>
      <ion-col size="auto">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
