.menu-container {
  position: relative;
  text-align: center;
}

.background-image {
  margin-top: 2%;
  width: 50%;
  height: auto;
}

ion-content.custom-content {
  --background: none;
  background-image: url('/assets/Inicio de Sesion 1 (1).png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.animated-image img {
  width: 400px; /* Ajusta el tamaño de la imagen */
  animation: move 5s infinite alternate ease-in-out;
  position: relative;
  z-index: 2; /* Asegura que la imagen quede por encima del recuadro morado */
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px); /* Mueve la imagen 20px hacia la derecha */
  }
}

.menu-buttons {
  position: fixed;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding: 2%; /* Reducir padding */
  background-image: url("/assets/contenedorBtnInicio.png");
  background-size: 90% 100%; /* Reducir el tamaño del recuadro morado */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 1; /* Asegura que esté debajo de la imagen animada */
}

.play-button, .register-button {
  --background: none;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 180px; /* Reducir el ancho de los botones */
  height: 50px; /* Mantener una proporción adecuada */
  font-size: 16px; /* Reducir un poco el tamaño de la fuente */
  --background-activated: rgba(255, 255, 255, 0); /* Cambia el fondo a gris cuando el botón se presiona */
  --background-focused: rgba(255, 255, 255, 0);   /* Cambia el fondo a gris cuando el botón está enfocado */
  --background-hover: none;     /* Desactiva el cambio de color al pasar el ratón */
  --background-pressed: none;   /* Desactiva el cambio de color al presionar */
}

.play-button {
  background-image: url("/assets/btnJugar.png");
}

.register-button {
  background-image: url("/assets/btnRegistrar.png");
}


/* Cambiar el color de fondo a gris al hacer clic en los botones */
.play-button:active, .register-button:active {
  background-color: grey; /* Cambia el color a gris cuando se hace clic */
  background-image: none; /* Opcional */
}

/* Elimina el borde azul de enfoque cuando se hace clic */
.play-button:focus, .register-button:focus {
  outline: none;
}

.social-icons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

ion-icon {
  font-size: 24px;
  color: white;
}
