@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.menu-container {
  text-align: center;
}

.background-image {
  width: 50%;
}

ion-content.custom-content {
  --background: none;
  background-image: url('/assets/fondo.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.animated-image img {
  width: 370px; /* Ajusta el tamaño de la imagen */
  animation: move 3.5s infinite alternate ease-in-out;
  position: relative;
  z-index: 2; /* Asegura que la imagen quede por encima del recuadro morado */
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-20px);
  }
}


.menu-buttons {
  position: absolute;
  top: 75%; /* Posiciona el contenedor centrado */
  left: 50%;
  transform: translate(-50%, -50%); /* Asegura que esté completamente centrado */
  width: 300px; /* Ajuste del ancho del contenedor */
  height: auto; /* El contenedor se adapta al contenido */
  padding: 30px 20px; /* Padding para ajustar la separación interna */
  background-image: url("/assets/contenedorBtnInicio.png"); /* Fondo para el contenedor de botones */
  background-size: contain; /* El fondo cubre completamente el contenedor */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px; /* Bordes ligeramente redondeados */
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button, .register-button {
  --background: none;
  --border: none;
  --box-shadow: none;
  margin: auto;
  font-family: 'Metal Mania', cursive;
  font-size: 24px; /* Aumentar ligeramente el tamaño de la fuente */
  width: 80%; /* Ocupa todo el ancho del contenedor */
  height: 60px; /* Aumentar la altura para que se vea más prominente */
  color: #5C5C5C;
  background-image: url("/assets/background-btns.png"); /* Imagen de fondo para los botones */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center ;
  text-align: center;
  border-radius: 15px; /* Bordes redondeados para los botones */
}

.play-button:last-child {
  margin-bottom: 0; /* Elimina el espacio inferior del último botón */
}

.social-icons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

ion-icon {
  font-size: 24px;
  color: white;
}
