<ion-content fullscreen class="custom-content" scrollY="false">
  <ion-grid>

    <ion-row class=" menu-container">
      <ion-col size="12" class="ion-text-center">

        <div class="animated-image">
          <img src="assets/Titulo_Juego1.png" class="background-image" />
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="menu-buttons">
      <ion-button routerLink="/login" expand="block" class="play-button">Jugar</ion-button>
      <ion-button routerLink="/registro" expand="block" class="register-button">Registro</ion-button>
    </ion-row>


    <ion-row class="social-icons">
      <ion-col size="auto">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-col>
      <ion-col size="auto">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-col>
      <ion-col size="auto">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>