<ion-content [fullscreen]="true">
  <ion-grid class="fondito">
    <ion-row>
      <ion-col size="2" class="col-left">
        <img src="assets/Line 18.png" alt="" class="line">
        <div class="center-content left-section">
          <div class="master-container">
            <img src="assets/Group 4.png" alt="Master Icon" class="master-icon">
            <img src="assets/botonmastersala.png" alt="Master Sala" class="master-img">
          </div>
          <a routerLink="/elige-rol">
            <img src="assets/Volver.png" alt="Volver" class="volver-img">
          </a>
        </div>
      </ion-col>
      <ion-col size="10" class="center-section">
        <div class="tarjeta-seleccion">
          <p class="game-title">Juego Sala 1</p> <!-- Texto dentro de la imagen -->
          <img src="assets/tarjeta-seleccion.png" alt="Tarjeta Selección">
          <img src="assets/rectangle133.png" alt="Rectangle 133" class="rectangle-image">
          
          <!-- Contenedor de los botones -->
          <div class="botones-container">
            <ion-button expand="block" class="configuraciones-btn">Configuraciones</ion-button>
            <ion-button expand="block" class="cerrar-sala-btn">Cerrar Sala</ion-button>
          </div>
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

