ion-card-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  ion-card-content {
    text-align: center;
  }
  
  ion-text {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  