<ion-content fullscreen>
    <div class="player-info-container">
      <div class="header">
        <h2>Nombre Jugador</h2>
        <div class="level">
          <span>Nivel 0</span>
          <ion-icon name="caret-up-outline"></ion-icon>
        </div>
      </div>
  
      <div class="stat-row">
        <div class="stat-label">Vida</div>
        <ion-progress-bar value="0.8" color="success"></ion-progress-bar>
        <div class="stat-end">
          <span>HP</span>
          <ion-icon name="water-outline"></ion-icon>
        </div>
      </div>
  
      <div class="stat-row">
        <div class="stat-label">Mana</div>
        <ion-progress-bar value="0.6" color="primary"></ion-progress-bar>
        <div class="stat-end">
          <span>MP</span>
          <ion-icon name="planet-outline"></ion-icon>
        </div>
      </div>
  
      <div class="stat-row">
        <div class="stat-label">Equip</div>
        <ion-progress-bar value="0.5" color="warning"></ion-progress-bar>
        <div class="stat-end">
          <span>DPT</span>
          <ion-icon name="hammer-outline"></ion-icon>
        </div>
      </div>
    </div>
  </ion-content>
  