@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-content.custom-content {
  --background: none;
  background-image: url('/assets/fondo.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  overflow-y: visible;
}


.login-container {
  display: flex;
  background-image: url('/assets/Decoracion.png');
  background-position: center;
  background-size: 55% 90%;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 30px; /* Reduce el espacio superior para que los inputs suban */
}
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* Reducido, pero puedes ajustarlo si lo deseas */
  color: #00000018;
  background-color: #F6FBDB;
  border-radius: 20px; 
  padding: 5px 15px;
  width: 35%;
  border: 2px solid #000000; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 18px; /* Este margen bajará los campos de nombre, correo y teléfono */
}


.input-icon {
  margin-right: 10px;
}

.input-icon img {
  width: 30px;
  height: 30px;
}

input {
  border: none;
  outline: none;
  background: none;
  font-family: 'Metal Mania', cursive;
  font-size: 20px;
  color: #000000; 
  flex-grow: 1;
  text-align: center;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 15px; /* Agrega margen superior para bajar el botón */

}

.role-select {
  font-family: 'Metal Mania', cursive;
  font-size: 18px;
  padding: 10px;
  border-radius: 25px;
  border: 3px solid #000000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  color: #5C5C5C;
  background-color: #F6FBDB;
  text-align: center;
  width: 50%; /* Ajusta el ancho si es necesario */
  outline: none;
}

.login-button {
  
  
  color: #5C5C5C;
  border-radius: 35px;
  padding: 2%;
  font-family: 'Metal Mania', cursive;
  font-size: 18px;
  cursor: pointer;
  width: 20%;
  margin: 1% 0 3% 0;
  text-align: center;
  background: none;
  background-image: url('/assets/background-btns.png');
  background-size: 80% 80%;
  background-position:center;
  background-repeat: no-repeat;
}

.login-button:hover {
  //background-color: #5C5C5C;
  color: #5C5C5C; 
}
.bottom-link{
  display: flex;
}

.link{
  margin: 5px;
}

.back-btn{
  position: absolute;
  padding: 20px;
  background: none;
}


@keyframes slide {
  0% {
    transform: translateX(0px); /* Inicia a la derecha */
  }
  100% {
    transform: translateX(-10px); /* Termina a la izquierda */
  }
}

.game-title {
  position: absolute;
  bottom: -15px;
  width: 100%;
  text-align: center;
  animation: slide 2s ease-in-out infinite alternate; 
}

.game-title img {
  width: 120px;
  height: 73px;
}