<ion-content class="custom-content" [fullscreen]="true">
  <div class="login-container">
    <div class="input-group">
      <div class="input-icon">
        <img src="/assets/correoRegist.png" alt="User Icon">
      </div>
      <input type="text" placeholder="Correo o numero">
    </div>

    <div class="input-group">
      <div class="input-icon">
        <img src="/assets/psswdRegist.png" alt="Password Icon">
      </div>
      <input type="password" placeholder="Crear Contraseña">
    </div>

    <button class="login-button" routerLink="/elige-rol">Crear cuenta</button>

    <div >
      <div class="bottom-links">
        
        <a href="https://facebook.com" class="link">
          <img src="/assets/facebook.png" alt="">
        </a>
        <a href="https://google.com" class="link">
          <img src="/assets/google.png" alt="">
        </a>
        <a href="https://play.google.com/googleplaygames?hl=es_CO" class="link">
          <img src="/assets/playgames.png" alt="">
        </a>

      </div>
    </div>
  </div>

  <!-- Imagen del título del juego en la parte inferior -->
  <div class="game-title">
    <img src="/assets/Titulo_Juego1.png" alt="Título del Juego">
  </div>
</ion-content>
