<ion-content class="custom-content" [fullscreen]="true">
  <button class="back-btn" routerLink="/inicio">
    <ion-icon name="arrow-back-circle-outline" color="ligth" size="large"></ion-icon>
  </button>
  <div class="login-container">
    <form (ngSubmit)="registerStudent()" style="display: contents;">
      <div class="input-group">
        <div class="input-icon">
          <img src="/assets/correoRegist.png" alt="User Icon">
        </div>
        <input type="text" [(ngModel)]="student.name" name="name" placeholder="Nombre" required />
      </div>

      <div class="input-group">
        <div class="input-icon">
          <img src="/assets/correoRegist.png" alt="User Icon">
        </div>
        <input type="email" [(ngModel)]="student.email" name="email" placeholder="Correo" required />
      </div>

      <div class="input-group">
        <div class="input-icon">
          <img src="/assets/psswdRegist.png" alt="Password Icon">
        </div>
        <input type="password" [(ngModel)]="student.phone" name="phone" placeholder="contraseña (10 dígitos)" required minlength="10" maxlength="10" pattern="[0-9]*" />
      </div>

      <div class="actions-container">
        <select [(ngModel)]="student.language" name="language" required class="role-select">
          <option value="" disabled selected>Selecciona un rol</option>
          <option value="master">Master</option>
          <option value="player">player</option>
        </select>
        <button type="submit" class="login-button">Crear cuenta</button>
      </div>
    </form>
  </div>

  <div class="game-title">
    <img src="/assets/Titulo_Juego1.png" alt="Título del Juego">
  </div>
</ion-content>
