<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="input-group">
      <div class="input-icon">
        <img src="/assets/image 7.png" alt="User Icon">
      </div>
      <ion-item>
        <ion-input formControlName="nombre" placeholder="Usuario"></ion-input>
      </ion-item>
    </div>

    <div class="input-group">
      <div class="input-icon">
        <img src="/assets/image 6.png" alt="Password Icon">
        <h1>hola</h1>
      </div>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
    </div>

    <div class="input-group">
      <div class="input-icon">
        <img src="/assets/image 27.png" alt="Confirm Password Icon">
      </div>
      <ion-item>
        <ion-input formControlName="confirmarPassword" type="password" placeholder="Confirmar contraseña"></ion-input>
      </ion-item>
    </div>

    <ion-button class="login-button">Registrar</ion-button>
  </div>
</ion-content>
